<p id="notice"><%= notice %></p>

<h1>Listing Classifybooks</h1>

<table>
  <thead>
    <tr>
      <th>Condition</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classifybooks.each do |classifybook| %>
      <tr>
        <td><%= classifybook.condition %></td>
        <td><%= classifybook.user_id %></td>
        <td><%= link_to 'Show', classifybook %></td>
        <td><%= link_to 'Edit', edit_classifybook_path(classifybook) %></td>
        <td><%= link_to 'Destroy', classifybook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classifybook', new_classifybook_path %>
