<p id="notice"><%= notice %></p>

<p>
  <strong>搜索条件分类:</strong>
  <%= @classifybook.condition %>
</p>

<div id='side'>
<!--%=render @cart%-->
</div>
<p>
  <strong>UserID:</strong>
  <%= @classifybook.user_id %>
</p>

<%=button_to '1-50', makepages_path(:page=>0,:id=>@classifybook.id)%>
<%=button_to '51-100', makepages_path(:page=>50,:id=>@classifybook.id)%>
<%=button_to '101-150', makepages_path(:page=>100,:id=>@classifybook.id)%>
<%=button_to '151-200', makepages_path(:page=>150,:id=>@classifybook.id)%>

<% @list.each do |p| %>
 <h3>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h3>
  <p>书名：<%= p['title']%>
  </p>
  <p>价格：<%= p['price']%>
  </p>
  <p>作者：<%=p['author'][0]%>
  </p>
  <p>链接图片：<%= p['image']%>
  </p>
  <p>封面：<%=image_tag( p['image'], size: "200")%>
  </p>
<%=button_to'购买',addcart_path('cart[title]'=>p['title'],'cart[price]'=>p['price'],'cart[quantity]'=>1,'cart[user_id]'=>@classifybook.user_id)%>
<% end %>
<h2>分页条数=<%=@list.count%>条
 </h2> 
 

