<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "豆瓣辅助购书网首页 ", root_path, id: "logo" %>
    <h4>谨以此作致我的妈妈姜新华女士母亲节快乐!!!!</h4>
    <%=image_tag("http://img.teamkn.com/i/uhmnK3W4.jpg", height: '80', width: '80')%>
  </div>
    <nav>
      <ul class="nav navbar-nav pull-right">
        
        
        <% if logged_in? %>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              状态 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "我的主页", current_user %></li>
    
              <li>
                <%= link_to "登出", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>

          <li><%= link_to "登陆可以在此查看个人状态", login_path %></li>
        <% end %>
      </ul>
    </nav>




</header>